{% extends 'frontend/new_front/base.html' %}
{% load static %}

{% block logo %} <img width="250" src="{% static 'new_front/assets/images/qsc1.png' %}"  alt="logo"/> {% endblock %}
{% block mini_logo %} <img width="400" src="{% static 'new_front/assets/images/qsc1.png' %}"  alt="logo"/> {% endblock %}

{% block main %}
        <div class="page-title-area item-bg3" style="background-color: #252525">
{#        <div class="page-title-area item-bg3" style="background-image: url({% static 'new_front/assets/images/about_us.jpg' %})">#}
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>New one-stop service launches in Abuja</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="services-details-area ptb-100">
            <div class="container">
                <div class="services-details-overview">
                    <div class="services-details-desc">
                        <img src="" />
                        <h3>Enterprise Hubs QSC</h3>
                        <p style="text-align: justify">
                        Enterprise Hubs has a new service – Enterprise Hubs QSC – short for Quick Service Center.
                            Enterprise Hubs QSC is a “micro hub” where you can access all the services you need when on the move for business:</p>
                            <ul>
                                <li>Desktop design and print</li>
                                <li>Document handling</li>
                                <li>Travel booking</li>
                                <li>Dispatch or professional services</li>
                            </ul>
                        <p style="text-align: justify">In addition, the Abuja QSC offers 3 beautiful executive offices available for quarterly use.
                            You can access this service at the <strong>business center of the beautiful Wells Carlton Hotel Asokoro Abuja.</strong>
                            <br />
                        For more information you can also simply call the Abuja MSC hotlines <br /><a href="tel:+234 80 958 62293">+234 80 958 62293</a>
                            or send us a message at <a href="mailto:ehubsmsc@gmail.com">ehubsmsc@gmail.com</a>.

                        </p>
                    </div>
                    <div class="services-details-image">
                        <img src="{% static 'new_front/assets/images/abuja.jpeg' %}" alt="image" />
                    </div>
                </div>
                <div>
                    <a href="{% url 'guest_booking' %}" class="btn btn-danger text-white">Get Started</a>
                </div>

            </div>
        </section>

{% endblock main %}