{% extends 'frontend/new_front/base.html' %}
{% load static %}

{% block main %}
        <div class="page-title-area" style="background-image: url({% static 'new_front/assets/images/blog.jpg' %})">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Business Listings</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Business Directory</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="blog-area ptb-100">
            <div class="container">
                <div class="row">
                    {% for listing in listings %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-blog-post">
                                <div class="post-image">
                                    {% if listing.image %}
                                    <a href="{% url 'member_web_space' listing.slug %}"><img src="{{ listing.image.url }}" alt=""></a>
                                    {% else %}
                                    <a href="{% url 'member_web_space' listing.slug %}"><img src="https://via.placeholder.com/594x1032" alt=""></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if search %}
                        {% if forloop.counter < 1 %}
                            <h3>We couldn't find a business that matches your search word</h3>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>
{% endblock main %}