{% extends 'frontend/new_front/base.html' %}
{% load static %}


{% block main %}
        <div class="page-title-area" style="background-image: url({% static 'new_front/assets/images/services.jpg' %})">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Contact</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="contact-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-title">
                            <span class="sub-title">Contact Us</span>
                            <h2>Say Hello</h2>
                        </div>
                        <div class="contact-info">
                            <ul class="contact-list">
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-location"></i>
                                    </div>
                                    <span>Address</span>
                                    Trinity Avenue by Landmark, Off Ligali Ayorinde, Victoria Island, Lagos.
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-email"></i>
                                    </div>
                                    <span>Email:</span> <a href="mailto:info@enterprisehubs.com"><span class="__cf_email__" data-cfemail="87fde6f4efc7e0eae6eeeba9e4e8ea">info@enterprisehubs.com</span></a>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-volume"></i>
                                    </div>
                                    <span>Phone</span>
                                    <a href="tel:+2349060009684">+2349060009685</a>
                                    <a href="tel:+2348122244752">+2348122244752</a>
                                </li>
                            </ul>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/enterprisehubs01/" target="_blank"><i class="flaticon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://linkedin.com/in/enterprise-hubs-32b91317a" target="_blank"><i class="flaticon-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/enterprisehubs/" target="_blank"><i class="flaticon-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="section-title">
                            <span class="sub-title">Location</span>
                            <h2>Find us on the map</h2>
                        </div>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.7627417093317!2d3.451539814598238!3d6.424522095351783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf57f54efee35%3A0xd6527b4289e60088!2sEnterprise%20Hubs!5e0!3m2!1sen!2sng!4v1609614298803!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}