{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise Hub - Password Reset Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forms/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'forms/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'forms/css/iofrm-theme15.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'forms/css/iofrm-style.css' %}">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="{% url 'home_page' %}">
                <div class="">
                    <img style="max-width: 200px; background: white;" class="logo-size" src="{% static 'img/logo/logo.png' %}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg" style="background-color:white"></div>
                <div class="info-holder">
                    <h3 style="color: black">Hi There,</h3>
                    <p style="color: black">Please enter your new password<br>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content form-sm">
                    <div class="form-items">
                        <div class="page-links">
                            <a href="{% url 'pass_reset' %}" class="active">Reset Password</a><a href="{% url 'login' %}">Login</a>
                        </div>
                            <div>
                                <h3>
                                  We've emailed you instructions for setting your password, if an account exists with the email you entered.
                                    You should receive them shortly.
                                </h3>
                                <h3>If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.</h3>
                            </div>

                            <div class="form-button text-center">
                                <a href="{% url 'home_page' %}" class="btn btn-dark"> Back Home</a><br />
                                <a href="{% url 'pass_reset' %}">Resend reset email</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'forms/js/jquery.min.js' %}"></script>
    <script src="{% static 'forms/js/popper.min.js' %}"></script>
    <script src="{% static 'forms/css/bootstrap.min.css' %}"></script>
    <script src="{% static 'forms/js/io_forms.js' %}"></script>


</body>
</html>



