{% extends 'backend/backend_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Enterprise Hub - Admin Portal {% endblock title %}
{% block CSS %}
        <!--Data Table-->
        <link href="{% static 'backend/bower_components/datatables/media/css/jquery.dataTables.css' %}" rel="stylesheet">
        <link href="{% static 'backend/bower_components/datatables-tabletools/css/dataTables.tableTools.css' %}" rel="stylesheet">
        <link href="{% static 'backend/bower_components/datatables-colvis/css/dataTables.colVis.css' %}" rel="stylesheet">
        <link href="{% static 'backend/bower_components/datatables-responsive/css/responsive.dataTables.scss' %}" rel="stylesheet">
        <link href="{% static 'backend/bower_components/datatables-scroller/css/scroller.dataTables.scss' %}" rel="stylesheet">

 {% endblock CSS %}

    {% block page_content %}

        <div id="content" class="ui-content">
                <!--page header start-->
                <div class="page-head-wrap">
                    <h4 class="margin0">
                        Enterprise Hubs Club
                    </h4>
                    <div class="breadcrumb-right hidden-sm hidden-xs">
                        <ol class="breadcrumb">
                        </ol>
                    </div>
                </div>
                <!--page header end-->
                <div class="ui-content-body" style="background: white">
                    <div class="ui-container">
                        <div class="row">
                            <div class="col-md-12">
                                <script src="http://apps.bravenet.com/go.js?service=forum;id=1;usernum=838866393" type="text/javascript" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {% endblock page_content %}

{% block Chart_JS %}

{% endblock Chart_JS %}
{% block JS %}
    <!--Data Table-->
        <!-- Bravenet Embedded Service Code -->




{% endblock JS %}
